<div class="container">
    <div class="bg-success-subtle rounded p-3 my-3 d-flex flex-wrap justify-content-between align-items-center">
        <div class="ps-3 py-5">
            <h1>Welcome Back, Admin!</h1>
            <p class="fs-3 text-secondary">Here's what's happening <br> with your store today.</p>
        </div>
        <div>
            <img src="/admin-header.png" width="400px" alt="plant" class="img-fluid">
        </div>
    </div>
    <div class="d-flex flex-wrap justify-content-evenly align-items-center gap-3 my-5">
        <div style="height: 100px;" class="rounded shadow p-3 d-flex justify-content-center align-items-center gap-2">
            <i class="fa-solid fa-leaf text-success fs-3"></i>
            <div>
                <h3>Total Plants</h3>
                <h4>{{plantCount()}}</h4>
            </div>
        </div>
        <div style="height: 100px;" class="rounded shadow p-3 d-flex justify-content-center align-items-center gap-2">
            <i class="fa-solid fa-check-to-slot text-success fs-3"></i>
            <div>
                <h4>Total Orders</h4>
                <h4>{{allOrders().length}}</h4>
            </div>
        </div>
        <div style="height: 100px;" class="rounded shadow p-3 d-flex justify-content-center align-items-center gap-2">
            <i class="fa-solid fa-users text-success fs-3"></i>
            <div>
                <h3>Total Users</h3>
                <h4>{{userCount()}}</h4>
            </div>
        </div>

    </div>

    <!-- orders -->
    <div>
        <div>
            <div class="p-4">
                <div class="d-flex justify-content-between align-items-center">
                    <h2>Recent Orders</h2>
                    <a routerLink="/orders" class="btn btn-outline-success">View All Orders</a>
                </div>
                <div class="table-responsive">
                    <table class="table table-success align-middle w-100 my-3">
                        <tr>
                            <th>Sl. No.</th>
                            <th>Customer</th>
                            <th>Phone Number</th>
                            <th>Status</th>
                            <th>Date</th>
                        </tr>

                        @for (item of allOrders(); track $index) {
                        <tr [routerLink]="['/admin/order', item._id]" style="cursor: pointer;">
                            <td>{{$index+1}}</td>
                            <td>{{item.username}}</td>
                            <td>{{item.phone}}</td>
                            @if (item.orderStatus=="Placed") {
                            <td class="badge bg-danger">{{item.orderStatus}}</td>
                            }@else {
                            <td class="badge bg-success">{{item.orderStatus}}</td>
                            }

                            <td>{{ item.createdAt | date:'dd/MM/yyyy' }}</td>

                        </tr>
                        }

                    </table>
                </div>
            </div>
        </div>


    </div>

</div>