<div class="container my-4">

    <!-- Order Summary -->
    <div>
        <div class="bg-success p-2 fs-5 text-light my-2 rounded">
            Order Summary
        </div>

        <p><strong>Customer's Name:</strong> {{orderDetails().username}}</p>
        <p><strong>Phone Number:</strong> {{orderDetails().phone}}</p>
        <p><strong>Total Amount:</strong> ₹ {{orderDetails().totalAmount}}</p>
        <p><strong>Payment Method:</strong> {{orderDetails().paymentMethod}}</p>
    </div>

    <!-- Shipping Address -->
    <div>
        <div class="bg-success p-2 fs-5 text-light my-2 rounded">
            Shipping Address
        </div>

        <p>{{orderDetails().address}}</p>
    </div>

    <!-- Ordered Items -->
    <div>
        <div class="bg-success p-2 fs-5 text-light my-2 rounded">
            Items
        </div>

        @for (item of orderDetails().items; track $index) {
            <div class="d-flex gap-3 my-3 border-bottom pb-3">
                <div>
                    <img width="150" height="160" [src]="api.server_url + '/uploads/' + item.plantImage" alt="plant">
                </div>

                <div>
                    <h5>{{item.plantName}}</h5>
                    <p>Quantity: {{item.quantity}}</p>
                    <p>Price: ₹ {{item.price}}</p>
                </div>
            </div>
        }
    </div>

    <!-- Update Status -->
    <div class="text-center mt-4">
        @if (orderDetails().orderStatus=="Placed") {
            <button class="btn btn-warning" (click)="updateOrderStatus(orderDetails()._id)">
            <i class="fa-solid fa-truck me-2"></i>
            Mark as Shipped
        </button>
        }@else {
            <button class="btn btn-success" (click)="updateOrderStatus(orderDetails()._id)">
            <i class="fa-solid fa-check me-2"></i>
            Shipped
        </button>
        }
    </div>

</div>