<div class="container my-4">
    <div>
        <input [(ngModel)]="searchKey" type="text" class="form-control" placeholder="Search Plants">

        <div class="d-flex justify-content-center align-items-center my-3 gap-2">
            <button (click)="getAllPlants()" class="btn btn-success">All</button>
            <!-- duplicate categories -->
             @for (item of categoryArray(); track $index) {
            <button (click)="filterPlants(item)" class="btn btn-success">{{item}}</button>
             }

        </div>
        <div class="row g-4 justify-content-center mt-3">
            @for (plant of allPlants() | paginate:{itemsPerPage: 8, currentPage: p} | search:searchKey; track $index){
            <div class="col-sm-6 col-md-4 col-lg-3 d-flex justify-content-center">
                <div (click)="viewPlant(plant._id)" class="card h-100" style="width: 18rem;">
                    <img height="300px" [src]="serverUrl + '/uploads/' + plant.image" class="card-img-top" alt="image">
                    <div class="card-body">
                        <h5>{{plant.name}}</h5>
                        <h6>Price: ₹ {{plant.price}}</h6>
                        @if (plant.stock>=0) {
                        <h6 class="text-success">In Stock</h6>
                        } @else {
                        <h6 class="text-danger">Out of Stock</h6>
                        }
                    </div>
                    
                </div>
                
            </div>
            }
        </div>
         <div class="my-3 text-center">
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </div>
    </div>
</div>